[user]
	email = andreas.olsson@eastcoast.se
	name = Andreas Olsson
[pull]
	rebase = false
[init]
	defaultBranch = master
[core]
    editor = nvim

[includeIf "gitdir:~/.new-dotfiles/**"]
  path = ~/personal/.gitconfig
[includeIf "gitdir:~/ansible-stuff/**"]
  path = ~/personal/.gitconfig
[includeIf "gitdir:~/personal/**"]
  path = ~/personal/.gitconfig
[includeIf "gitdir:~/work/**"]
  path = ~/work/.gitconfig

[alias]
	wadd = "!f() { \\\n  if [ -z \"$1\" ]; then \\\n    printf \"Usage: git wadd <feature-branch-suffix>\\n\"; \\\n    return 1; \\\n  fi; \\\n  BRANCH_SUFFIX=\"$1\"; \\\n  \\\n  # Local branch name will match the remote branch name structure to avoid \"fatal: The upstream branch...\"\n  LOCAL_BRANCH_NAME=\"feature/$BRANCH_SUFFIX\"; \\\n  \\\n  # Worktree directory name will use the feat- prefix as you requested for the folder\n  WORKTREE_PATH=\"feat-$BRANCH_SUFFIX\"; \\\n  \\\n  # Remote branch name (which LOCAL_BRANCH_NAME will mirror)\n  REMOTE_BRANCH_NAME=\"$LOCAL_BRANCH_NAME\"; \\\n  \\\n  git worktree add -b \"$LOCAL_BRANCH_NAME\" \\\n    \"$WORKTREE_PATH\" \\\n    --track \"origin/$REMOTE_BRANCH_NAME\"; \\\n}; f"
